---
import Layout from '../layouts/BlogPost.astro';
const title = 'プライバシーポリシー';
const description = '当ブログ「生存戦略の要塞」のプライバシーポリシー（個人情報保護方針）に関する情報を掲載しています。';
---

<Layout
	title={title}
	description={description}
	pubDate={new Date('Feb 27 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h2>個人情報の保護について</h2>
	<p>
		当ブログ「生存戦略の要塞」（以下、当ブログ）では、お問い合わせやコメントの際に、お名前（ニックネーム）やメールアドレス等の個人情報を入力いただく場合がございます。
		これらの個人情報は、質問に対する回答や必要な情報を電子メールなどでご連絡する場合に利用させていただくものであり、個人情報をご提供いただく際の目的以外では利用いたしません。
	</p>

	<h2>広告の配信について</h2>
	<p>
		当ブログでは、第三者配信の広告サービス「Googleアドセンス」を利用しています。
		広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、クッキー（Cookie）を使用することがあります。
		クッキーを使用することで、当ブログはお客様のコンピュータを識別できるようになりますが、お客様個人を特定できるものではありません。
	</p>
	<p>
		Cookieを無効にする方法やGoogleアドセンスに関する詳細は「<a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank" rel="noopener">広告 – ポリシーと規約 – Google</a>」をご確認ください。
	</p>

	<h2>アクセス解析ツールについて</h2>
	<p>
		当ブログでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
		このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しています。このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
	</p>
	<p>
		この機能はクッキーを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細は「<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank" rel="noopener">Googleアナリティクス利用規約</a>」をご確認ください。
	</p>

	<h2>コメントについて</h2>
	<p>
		当ブログへのコメントを残す際に、IPアドレスを収集しています。
		これはブログの標準機能としてサポートされている機能で、スパムや荒らしへの対応以外にこのIPアドレスを使用することはありません。
	</p>
	<p>
		なお、全てのコメントは管理人が事前にその内容を確認し、承認した上での掲載となります。あらかじめご了承ください。
	</p>

	<h2>免責事項</h2>
	<p>
		当ブログからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。
		また当ブログのコンテンツ・情報について、できる限り正確な情報を提供するよう努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。
		当ブログに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
	</p>

	<h2>著作権について</h2>
	<p>
		当ブログで掲載している文章や画像などにつきましては、無断転載することを禁止します。
		当ブログは著作権や肖像権の侵害を目的としたものではありません。著作権や肖像権に関して問題がございましたら、お問い合わせフォームよりご連絡ください。迅速に対応いたします。
	</p>

	<hr />
	<p style="font-size: 0.9rem; color: var(--gray);">
		初出掲載：2026年2月27日<br />
		管理人：ひき子
	</p>
</Layout>